<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" #usernamefield="ngModel" required class="form-control">
      <div *ngIf="usernamefield.invalid && usernamefield.touched" class="text-danger">
        username is required.
      </div>

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password"  #passwordfield="ngModel"required class="form-control">
      <div *ngIf="passwordfield.invalid && passwordfield.touched" class="text-danger">
        password is required.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </form>
  <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>

</div>
