<form (ngSubmit)="onSubmit()" [formGroup]="branchForm" class="container mt-4">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" formControlName="title" class="form-control" />
    <div *ngIf="branchForm.get('title')?.invalid && branchForm.get('title')?.touched" class="text-danger">
      Title is required and cannot exceed 200 characters.
    </div>
  </div>

  <div class="form-group">
    <label for="openingHour">Opening Hour</label>
    <input id="openingHour" formControlName="openingHour" type="time" class="form-control" />
    <div *ngIf="branchForm.get('openingHour')?.invalid && branchForm.get('openingHour')?.touched && !branchForm.get('openingHour')?.errors?.['serverError']" class="text-danger">
      Opening hour is required.
    </div>
    <div *ngIf="branchForm.get('openingHour')?.errors?.['serverError']" class="text-danger">
      {{ branchForm.get('openingHour')?.errors?.['serverError'] }}
    </div>
  </div>

  <div class="form-group">
    <label for="closingHour">Closing Hour</label>
    <input id="closingHour" formControlName="closingHour" type="time" class="form-control" />
    <div *ngIf="branchForm.get('closingHour')?.invalid && branchForm.get('closingHour')?.touched && !branchForm.get('closingHour')?.errors?.['serverError']" class="text-danger">
      Closing hour is required.
    </div>
    <div *ngIf="branchForm.get('closingHour')?.errors?.['serverError']" class="text-danger">
      {{ branchForm.get('closingHour')?.errors?.['serverError'] }}
    </div>

  </div>

  <div class="form-group">
    <label for="managerName">Manager Name</label>
    <input id="managerName" formControlName="managerName" class="form-control" />
    <div *ngIf="branchForm.get('managerName')?.invalid && branchForm.get('managerName')?.touched" class="text-danger">
      Manager name is required and cannot exceed 250 characters.
    </div>
  </div>

  <button type="submit" [disabled]="branchForm.invalid" class="btn btn-primary mt-3">
    {{ isEditMode ? 'Update' : 'Add' }} Branch
  </button>
</form>
